* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #222222;
}
text {
    fill: #FFFFFF;
}

input {
  background-color: #333333;
}

#plotEDX sub {
  background-color: #666666 ;
}