* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #222222;
}
text {
    fill: #FFFFFF;
}

input {
  background-color: #333333;
}

/* #plotEDX {
  width : 0.9vw;
} */

#plotEDX sub {
  background-color: #666666 ;
}


.textcenter{
  text-align: center;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.searchfield{
  text-align:right;
  font-size: 1.5em;
}

#E_Results{
  font-size: 1.5em;
}
